[project]
	description = JTyrian is an remake of famous Tyrian game on J2ME platform.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/WinoTu (winotu)
[access "refs/for/refs/*"]
	read = group user/WinoTu (winotu)
	push = group user/WinoTu (winotu)
	label-Code-Review = -2..+2 group user/WinoTu (winotu)
	label-Verified = -1..+1 group user/WinoTu (winotu)
	rebase = group user/WinoTu (winotu)
	removeReviewer = group user/WinoTu (winotu)
	submit = group user/WinoTu (winotu)
[access "refs/heads/*"]
	read = group user/WinoTu (winotu)
	create = group user/WinoTu (winotu)
	push = +force group user/WinoTu (winotu)
	pushMerge = group user/WinoTu (winotu)
[access "refs/tags/*"]
	push = +force group user/WinoTu (winotu)
	pushTag = group user/WinoTu (winotu)
	pushSignedTag = group user/WinoTu (winotu)
